<div class="card h-100">
  <img src="{{ site.baseurl }}/{{ include.page.image }}" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">{{ include.page.title }}</h5>
    <small class="card-text text-muted">{{ include.page.date }}</small>
    <p class="card-text">{{ include.page.summary }}</p>
  </div>
  <div class="card-footer">
    <p>
      {% for label in include.page.labels %}
      <span style="background-color: var(--tf-pill-bg)" class="badge rounded-pill">{{ label }}</span>
      {% endfor %}
    </p>
    {% if page.projecturl %}
    <a href="{{ page.projecturl }}" class="btn btn-outline-dark">Project Site</a>
    {% else %}
    <a href="{{ site.baseurl}}{{ include.page.url }}" class="btn btn-outline-dark">Read More</a>
    {% endif %}
  </div>
</div>